
<input type="'text" id="value">
<button {{action "toggleBody"}}>add</button>
<h5>count:<span id="length"></span></h5>
<p id="track"></p>
{{!{{display}}
{{#each display as |item|}}
<li>{{item.name}}<button {{action "editValue" item}}>edit</button></li>
{{/each}}
{{yield}}